@import url("https://fonts.googleapis.com/css?family=Lora|Montserrat");

body {
  background-color: #dee5f2;
  font-family: "Montserrat", Garamond, sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
}

#content {
  max-width: 100%;
  margin: auto;
}

header {
  display: grid;
  grid-template-columns: 160px auto;
  align-items: center;
}

.logo {
  display: flex;
}

nav {
  line-height: 2em;
  padding-left: 20px;
}

nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 55px;
}

nav ul li {
  text-align: center;
}

nav a {
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
}

nav a:link,
nav a:visited {
  color: #011627;
}

nav a:hover {
  color: #127ba1;
}

.headline {
  grid-column: 1 / 4;
  color: #fdfffc;
  font-size: 26px;
  text-align: center;
  background-color: #2e5489;
  padding: 10px;
  margin: 2px 0 2px 0;
}

.banner-box img {
  width: 100%;
}

.home-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.stats-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

.grid-separator {
  grid-column: 1 / 4;
  background-color: #257c8e;
  padding: 15px;
}

.home-img {
  width: 100%;
  padding: 4px;
  border-radius: 10px;
}

.stats-img {
  width: 100%;
  padding: 4px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.home-paragraph {
  font-size: 16.5px;
  margin-top: 0px;
}

h3 {
  margin-top: 30px;
  text-align: center;
  color: #011627;
}

.disclaimer {
  margin-top: -15px;
  font-size: 16px;
  text-align: center;
}

#selection {
  margin: 0 auto;
  border: none;
  background-color: #1ba493;
  opacity: 90%;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  width: 390px;
}

#measure-select {
  margin: 10px 5px;
  font-size: 18px;
  width: 380px;
  padding: 5px;
  text-align: center;
}

#rendered-data {
  display: grid;
  grid-template-columns: 10fr 1fr;
  grid-gap: 1em;
  padding: 40px 0px;
  gap: 30px;
  justify-content: space-around;
  align-items: flex-start;
}

path {
  stroke: white;
  stroke-width: 0.5px;
}

svg {
  width: 100%;
  height: auto;
}

#chart {
  display: block;
  margin-top: -20px;
}

#states :hover {
  fill-opacity: 0.6;
}

table,
th,
td {
  background-color: #382c83;
  color: white;
  padding: 5px;
}

#top-10 {
  text-align: center;
  width: 400px;
  height: 200px;
}

#top-10 .state-name {
  text-transform: capitalize;
}

#table-caption {
  color: #011627;
  font-size: 18px;
  padding: 20px;
  margin: 2px 0px 2px 0px;
}

#legend-caption {
  color: #011627;
  font-family: Cabin;
  font-size: 21px;
  padding: 20px;
  margin: 2px 0px 2px 0px;
}

#tooltip {
  display: none;
  background-color: #011627;
  color: white;
  position: absolute;
  padding: 16px;
  border-radius: 5px;
  margin-left: 20px;
  margin-top: 160px;
}

footer {
  height: 55px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 15px;
}

footer p {
  font-family: "Montserrat", Garamond, sans-serif;
  grid-column: 1 / 2;
}

p {
  padding-left: 20px;
}

#lookup-info {
  display: flex;
}

#state-selection {
  margin: 0 auto;
  border: none;
  background-color: #1ba493;
  opacity: 90%;
  color: white;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  width: 390px;
}

#state-select {
  margin: 10px 5px;
  font-size: 18px;
  width: 380px;
  padding: 5px;
  text-align: center;
}

#district-select {
  margin: 10px 5px;
  font-size: 18px;
  width: 380px;
  padding: 5px;
  text-align: center;
}

#district-data {
  list-style: none;
}

.list-element {
  font-weight: bold;
  font-size: 18px;
}

#district-output {
  margin: 0 auto;
  border: none;
  background-color: white;
  opacity: 90%;
  color: #011627;
  padding: 15px;
  border-radius: 10px;
  width: 390px;
}

#NAME,
#CITY,
#INCIDENTS,
#SCHOOLS,
#STUDENTS {
  color: #42047e;
  font-size: 16px;
}

.lookup-img {
  margin: 0px 40px;
  border-radius: 10px;
  width: 390px;
}

.home-grid-case {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 2em;
}

.text-content {
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  background: #382c83;
  opacity: 80%;
  color: white;
  padding: 10px 30px;
  margin-right: 20px;
  align-self: flex-start;
  border-radius: 10px;
}

#case-title {
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.bold {
  color: #11cc99;
  font-weight: 900;
  font-size: 21px;
}

#sources {
  font-size: 14px;
}

.home-grid-about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, auto);
  grid-gap: 2em;
}

.about-img {
  width: 100%;
  padding: 4px;
  grid-column: 1 / 2;
  margin-left: 15px;
  border-radius: 10px;
}

.about-us p {
  font-size: 18px;
  margin-bottom: 26px;
}
